* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: grid;
  place-items: center;
  min-height: 100vh;
  background: hsl(47, 88%, 63%) !important;
  font-family: "Figtree", sans-serif !important;
}